
.icon-user:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-codepen:before { content: '\f32c'; } /* '' */
